<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBV" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\bscholze\VS2013\SampleDatabase\SampleDatabase\SampleDatabase.mdf;Integrated Security=True;Connect Timeout=30" providerName=".NET Framework Data Provider for SQL Server"/>
  </connectionStrings>
</configuration>